@media (max-width: 1072px) {
  nav {
    min-height: 90vh;
  }
  .hero {
    top: 8%;
    left: 9%;
    width: 70%;
  }
  .factory {
    height: 40vh;
  }
  .course_right p {
    width: 100%;
  }
  .sec-card-left img {
    width: 29%;
    height: 84%;
  }
  .free_right {
    min-height: 24vh;
  }

  .project_left p {
    max-width: 90%;
  }
  .project_right img {
    height: 90%;
    width: 70%;
  }
  .factory {
    margin-top: 10rem;
    height: 88vh;
  }
}
@media (max-width: 802px) {
  .hero {
    top: 28%;
  }
  .hero_right img {
    height: 75%;
  }
  .hero_left h2 {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
  .course_head {
    display: grid;
    grid-template-columns: 1fr 2.7fr;
  }
  .card_item {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .sec-card-left img {
    width: 54%;
  }
  .course_left img {
    width: 100%;
  }
  .factory_img1 {
    min-height: 10rem;
  }
  .factory_img1 img {
    width: 45%;
  }
  .factory_img img {
    width: 40%;
  }

  .scedule_date ul li {
    padding: 1.2rem 2rem;
    margin: 0.5rem 1.1rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .item b,
  span {
    font-size: 0.8rem;
  }
  .static {
    width: 25%;
  }
  .project_left p {
    font-size: 1rem;
  }
}
@media (max-width: 618px) {
  .menus ul li a {
    font-size: 1rem;
  }

  .factory_img img {
    width: 20%;
    margin-left: 25rem;
  }

  .hero_left a {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .hero {
    top: 37%;
  }
  .hero_left p {
    margin-top: 1rem;
    line-height: 1.8;
    font-size: 0.8rem;
  }
  .factory_img1 {
    min-height: 8rem;
  }
  .factory_img img {
    width: 34%;
  }
  .factory {
    margin-top: 5rem;
    height: 79vh;
  }
  .factory_desc p {
    font-size: 1.1rem;
  }
  .course_btn ul li {
    padding: 1rem 1.2rem;
    font-size: 1rem;
  }
  .course_right p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }
  .item span {
    display: none;
  }
  .item b {
    font-size: 0.8rem;
  }
  .request_left h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .request_left input {
    width: 80%;
    padding: 1rem;
  }
  .project_head {
    display: flex;
    flex-direction: column;
  }
  .project_right {
    display: none;
  }
  .static {
    width: 11%;
    font-size: 1.2rem;
  }
  .scedule_date ul li {
    padding: 1.2rem 1rem;
    background-color: #ffffff;
    margin: 1rem 1.4rem;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.8rem;
  }
  .sec-card-left img {
    width: 78%;
  }
}
@media (max-width: 528px) {
  .course_left img {
    width: 100%;
  }

  .hero {
    width: 90%;
    left: 2.5rem;
    top: 1rem;
  }
  .factory {
    margin-top: 25rem;
  }
  .sec-card-left img {
    height: 86%;
  }
  .yoq {
    display: none;
  }
  .free_left b {
    font-size: 1.1rem;
  }
  .free_right h4 {
    font-size: 1rem;
    margin-top: 0.4rem;
  }
  .free_right h3 {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  .free_right a {
    padding: 0.6rem 1rem;
    border-radius: 0.7rem;
  }
  .free_right {
    height: 43vh;
    margin-top: 3rem;
  }
  .trues i {
    padding: 0.2rem;
  }
  .static {
    width: 16%;
  }
  .scedule_date ul li {
    padding: 1rem;
  }
  .endd {
    font-size: 1rem;
  }
  .course_register div a {
    padding: 0.6rem 1rem;
  }
  .foot_imgg img {
    width: 52%;
  }
  .factory_img img {
    margin-left: 11rem;
  }
  /* nav-----------------------bar */
  nav {
    display: none;
  }
}
@media (max-width: 392px) {
  .hero {
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .hero_left h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .hero_left p {
    margin-top: 0;
    line-height: 1.3;
  }
  .hero_left a {
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }
  .course_btn ul li {
    padding: 0.4rem 1rem;

    font-size: 0.7rem;
  }
  .card_nav ul {
    padding: 1rem;
  }
  .sec-card-left img {
    height: 49%;
  }
  .master,
  .project,
  .free {
    padding: 1rem;
  }
  .free_right {
    height: 60%;
    border-radius: 1rem;
  }
  .schedule_course ul li {
    font-size: 0.9rem;
  }
  .scedule_date ul li {
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
  }

  .static {
    width: 21%;
  }
  .factory {
    margin-top: 19rem;
    height: 21rem;
  }
  .null {
    display: none;
  }

  .factory_img1 {
    min-height: 6rem;
    width: 7rem;
    border-radius: 1.3rem;
  }
  .factory_img img {
    width: 21%;
  }
}
